// TODO
$blauw : #6EC8E5;
$geel: #F8B000;
$donkerblauw: #4A92AD;
$lightgrey: #8C8C8C;

////////////////////////////////////////////////////////////////////////////////////////////////////////////
// standaard

body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e7f1f5+0,e7f1f5+100,ffffff+100 */
background: #e7f1f5; /* Old browsers */
background: -moz-linear-gradient(45deg, #e7f1f5 0%, #e7f1f5 100%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #e7f1f5 0%,#e7f1f5 100%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #e7f1f5 0%,#e7f1f5 100%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7f1f5', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	background-size: contain;
	font-family: 'Oxygen', sans-serif;
	margin:0;
	padding:0;

	main {
		
		margin:3em 1rem 0 1rem;
		padding:1rem;
		
		
	}
}



////////////////////////////////////////////////////////////////////////////////////////////////////////////
// header
body > header {
	background-color: $geel;
	padding:.5rem 1rem;
	border-bottom:2px solid $blauw;
	text-align: right;
	position:fixed;
	z-index: 999;
	width:100%;
	top:0;
	left:0;
	box-sizing:border-box;

	&>* {
		
	}

	#fundaLogo {
		display: inline-block;
		vertical-align: middle;
		float:left;

		img {
			height:1.8em;
		}
		
	}

	form {
		display: inline-block;
		position: relative;
		width:20vw;
		height: 1.8em;
		margin: 0;
		margin-right: 2em;

		
		input[type='text'] {
			height:1.8em;
			font-size: 1em;
			margin:0;
			right:0;
			top:0;
			padding-right: 2em;
			text-align: right;
			width:5em;
			position: absolute;
			box-sizing:border-box;
			transition:.3s ease-in-out;
			
			&:focus {
				width:100%;
			}
		}
		label {
			display: inline-block;
			margin:0;
			width:1.8em;
			position: absolute;
			right:0;
			top:0;
			height:100%;
			padding:.4rem;
			box-sizing:border-box;
			background-color: #ffd466;
			.fa {
				font-size:1.2em;
			}
		}
	}
	.fa {
		font-size:1.8em;
		color:white;
		vertical-align: top;

	}
	#nav-button {
		text-decoration: none;
	}
}




////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Navigatie slide out

.show {
	right:0;
	box-shadow: 0 0 0 100vmax rgba(0,0,0,.8);
}


////////////////////////////////////////////////////////////////////////////////////////////////////////////
// Navigatie

nav {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2cb4ea+0,6ec8e5+100 */
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00a6e8+0,6ec8e5+100 */
	background: #00a6e8; /* Old browsers */
	background: -moz-linear-gradient(45deg, #00a6e8 0%, #6ec8e5 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(45deg, #00a6e8 0%,#6ec8e5 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(45deg, #00a6e8 0%,#6ec8e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a6e8', endColorstr='#6ec8e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	position: fixed;
	top:0;
	height:100%;
	z-index: 9;
	width:20%;
	min-width: 15em;
	right:-100vw;
	padding-top:3rem;
	box-sizing:border-box;
	display: flex;
	justify-content:space-between;
	flex-direction:column;
	
	transition: box-shadow .2s linear, right .5s .2s linear;
	box-shadow: 0 0 0 180vmax rgba(0,0,0,.0);


	&>* {
		margin:0;
	}
	h3 {
		flex:5%;
		background-color: $blauw;
		height:100%;
		color:white;
		font-size:2em;
		font-weight: 200;
		padding:.5rem;
		text-align: center;
	}
	ul {
		flex:80%;
		display: flex;
		flex-wrap:nowrap;
		flex-direction:column;
		list-style: none;
		padding:0;
		justify-content:space-between;

		li {
			flex:20%;
			position: relative;
			border-bottom:2px solid $blauw ;

			a {
				position: absolute;
				width:100%;
				height:100%;
				text-align: center;
				transition:background-color .5s ease-in-out;

				&:hover {
					background-color: $blauw;
				}

				span {
					position: absolute;
					width:100%;
					top:40%;
					left:0;
					color:white;
				}

			}
		}
	}
	form {
		flex:15%;
		display: flex;
		justify-content:space-between;

	

		input {
			display: none;
		}

		input:checked + label {
			background-color: rgba(110,200,229,1);

			span {
				text-decoration: underline;
			}
		}
		label {
			flex:50%;
			background-color: rgba(110,200,229,.5);
			position:relative;
			vertical-align: middle;
			transition:.2s;
			span {
				color:white;
				position:absolute;
				left:0;
				top:40%;
				width:100%;
				text-align: center;
			}
		}

		
	}
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////
// main layout




////////////////////////////////////////////////////////////////////////////////////////////////////////////
// lijst resultaten


.list-template-wrapper { 

	h2 {
		text-align: center;
		background-color: white;
		padding:1rem;
	}

	ul {
		list-style: none;
		padding:0;

		& > * {
			
		}

		li {


			a {

				text-decoration: none;
				display: block;
				color:black;
				padding:.5rem 1rem;
				position:relative;
				background-color: white;
				border-left:.5rem solid white;
				transition:.2s ease-in-out;	
				margin:1rem 0;
				min-height:10em;

				&:hover {
					border-left:.5rem solid $blauw;
				}

				article {
					padding-right:40%;

					
					h3 {
						margin:.5rem 0;
						font-size: 120%;
					}
					h4 {
						margin:0;
						font-size: .8em;
						color:#818181;
					}
					p {
						color:$blauw;
						margin:0;
					}
					span {
						border:2px solid $blauw;
						padding: .2rem;
						font-size: .8em;
						margin:.5rem .5rem .5rem 0;
						display: inline-block;
					}
					h5 {
						background-color: $blauw;
						display: block;
						z-index: 8;
						position: absolute;
						right:0;
						bottom:0;
						margin:0;
						width:10rem;
						box-sizing:border-box;
						padding:.5rem 0;
						text-align: center;
						color:white;
						
					}


				}

				
				.img-container {
					position:absolute;
					right:0;
					width:40%;
					right:0;
					height:100%;
					top:0;
					max-width: 25em;
					overflow: hidden;

					img {
						min-height: 100%;
						min-width: 100%;

						max-height: 120%;
					}
				}

				#graph-container {
					position: absolute;
					bottom:.5rem	;
					left:.0;
					height: 3em;
					display: block;
					width:50%;
					box-sizing:border-box;
					height:2em;
					background-color: rgba(231,241,245,.5);
					p {
						position: absolute;
						bottom:0;
						right:0;
					}
					div {
						margin:.5em 0;
						position: absolute;
					}
					#percentageKoopPrijs {
						background-color: $geel;
						height:1em;
						z-index: 7;
						left:0;
						margin:0;
						bottom:.5em;
						
					}
					#gemiddeldPerc {
						height:2em;
						border-right:.2rem solid black;
						background-color: rgba(231,241,245,.7);;
						left:0;
						position: absolute;
						bottom:0;
						margin:0;
					}
				}
			}
		}
	}

}


////////////////////////////////////////////////////////////////////////////////////////////////////////////
// grafieken


////////////////////////////////////////////////////////////////////////////////////////////////////////////
// detail pagina

.detail-template-wrapper {
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
	
	& > * {
		background-color: white;
		padding:1rem;
		margin:.5rem auto;
		max-width: 50em;
		box-sizing:borde-box;
		
	}
	header {
		flex:10 100%;
		h2 {
			display: inline-block;
			margin:0;
		}
		h4 {
			color:$lightgrey
		}
		h3 {
			display: inline-block;
			float:right;
			vertical-align:middle;
		}
	}
	.fotos {
		flex:4 100%;
		
		overflow:hidden;
		background-color: white;
		
		
		
		img {
			min-width: 100%;
		}
	}
	article {
		flex:4 100%; 
		

		label {
			border-bottom: 2px solid $blauw;
			color:$blauw;
			
			width:100%;
			padding: .5rem;
			text-align: center;
			
			display: block;
			&:before {
				content:'lees meer'
			}
		}
		input[type='checkbox'] {
			display: none;

			&:checked ~ p {
				height:100%;

			}
			&:checked ~ label:before {
				content:'lees minder'
			}
		}
		p {
			
			height:5em;
			transition:height 1s ease-in-out;
			overflow:hidden;

		}
	}
	.kenmerken {
		flex:100%;
		
		h5 {
			color:$blauw;
		}
		ul {
			

			li {
				text-align: left;
				border-bottom:1px solid #DADADA;
				width:100%;
				padding:.2rem;
				span {
					
					float: right;
				}
			}
		}
	}
	&  > a {
		flex:100%;
		text-align: center;
		background-color: $blauw;
		color:white;
		text-decoration: none;
		padding:.5rem;

	}
}

.loading-container {
	
	width:100%;

	img {
		min-width: 100%;
		max-width: 100%;
	}
}